/* log display */
.log-display {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
}

.log-display h3 {
    margin-top: 0;
    color: #555;
}

.log-display ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.log-display li {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
}

.log-display li:last-child {
    border-bottom: none;
}

/* scrollbar */
.log-display ul::-webkit-scrollbar {
    width: 6px;
}

.log-display ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.log-display ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.log-display ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}